.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem;
  border: 1px solid #888;
  width: 100%;
  height: 80px;
  box-sizing: border-box;

  &__nav {
    a {
      display: inline-block;
      padding: .25rem;
      background-color: #ededed;
      color: #0f0f0f;
      font-weight: 600;
      margin-right: .25rem;
      text-decoration: none;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  padding: 0 .5rem 0 0;
}
